<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--=============== FAVICON ===============-->
        <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">

        <!--=============== REMIX ICONS ===============-->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
         <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        <title>SecureClick</title>
    </head>
    <body>
        <!--==================== HEADER ====================-->
        <header class="header" id="header">
            <nav class="nav container">
                <a href="#" class="nav__logo">
                    <i class=" nav__logo-icon"></i> SecureClick
                </a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="#home" class="nav__link active-link">Home</a>
                        </li>
                        <li class="nav__item">
                            <a href="{{ url_for('about') }}" class="nav__link">Detect</a>
                        </li>
                        
                    </ul>

                    <div class="nav__close" id="nav-close">
                        <i class="ri-close-line"></i>
                    </div>
                </div>

                <div class="nav__btns">
                    <!-- Theme change button -->
                    <i class="ri-moon-line change-theme" id="theme-button"></i>

                    <div class="nav__toggle" id="nav-toggle">
                        <i class="ri-menu-line"></i>
                    </div>
                </div>
            </nav>
        </header>

        <main class="main">
            <!--==================== HOME ====================-->
            <section class="home" id="home">
                <div class="home__container container grid">
                    <img src="../static/phish2.gif" alt="" class="home__img">

                    <div class="home__data">
                        <h1 class="home__title">
                            Trusted defense  <br> against Phishing
                        </h1>
                        <p class="home__description">
                            AI-Powered Defense: Proactively Combat Phishing and Spam with Advanced Detection and Automated Protection
                        </p>
                        <a href="{{ url_for('about') }}" class="button button--flex">
                            Detect <i class="ri-arrow-right-down-line button__icon"></i>
                        </a>
                    </div>

                    <div class="home__social">
                        <span class="home__social-follow">Follow Us</span>

                        <div class="home__social-links">
                            <a href="https://www.facebook.com/" target="_blank" class="home__social-link">
                                <i class="ri-facebook-fill"></i>
                            </a>
                            <a href="https://www.instagram.com/" target="_blank" class="home__social-link">
                                <i class="ri-instagram-line"></i>
                            </a>
                            <a href="https://twitter.com/" target="_blank" class="home__social-link">
                                <i class="ri-twitter-fill"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </section>

            <!--==================== ABOUT ====================-->
            <section class="about section container" id="about">
                <div class="about__container grid">
                    <img src="../static/img/phishingUpdated.gif" alt="" class="about__img">

                    <div class="about__data">
                        <h2 class="section__title about__title">
                            What is Phishing & <br> Why use this system
                        </h2>

                        <p class="about__description">
                            “Phishing” refers to an attempt to steal sensitive information, typically in the form of usernames, passwords, credit card numbers, bank account information or other important data in order to utilize or sell the stolen information.
                        </p>

                        <div class="about__details">
                            <p class="about__details-description">
                                <i class="ri-checkbox-fill about__details-icon"></i>
                                User-friendly Interface.
                            </p>
                            <p class="about__details-description">
                                <i class="ri-checkbox-fill about__details-icon"></i>
                                one-click Detection.
                            </p>
                            <p class="about__details-description">
                                <i class="ri-checkbox-fill about__details-icon"></i>
                                Shows Detailed information about the website.
                            </p>
                            <p class="about__details-description">
                                <i class="ri-checkbox-fill about__details-icon"></i>
                                Completely free to use.
                            </p>
                        </div>

                        <a href="{{ url_for('about') }}" class="button--link button--flex">
                            Detect Now <i class="ri-arrow-right-down-line button__icon"></i>
                        </a>
                    </div>
                </div>
            </section>

            <!--==================== STEPS ====================-->
            <section class="steps section container">
                <div class="steps__bg">
                    <h2 class="section__title-center steps__title">
                        Steps to Detect your <br> Phishing website
                    </h2>

                    <div class="steps__container grid">
                        <div class="steps__card">
                            <div class="steps__card-number">01</div>
                            <h3 class="steps__card-title">copy the link of the website</h3>
                            <p class="steps__card-description">
                                Copy the link of the website you want to check for phishing
                            </p>
                        </div>

                        <div class="steps__card">
                            <div class="steps__card-number">02</div>
                            <h3 class="steps__card-title">click on check url button</h3>
                            <p class="steps__card-description">
                                Click on check url button to check the website through the url that is taken as input from step 1
                            </p>
                        </div>

                        <div class="steps__card">
                            <div class="steps__card-number">03</div>
                            <h3 class="steps__card-title">you will get detailed info about the website</h3>
                            <p class="steps__card-description">
                                you will get detailed information about the website including a preview option and its source code
                            </p>
                        </div>
                    </div>
                </div>
            </section>
<br>
<br>
<br>
            <!--==================== QUESTIONS ====================-->
            <section class="questions section" id="faqs">
                <h2 class="section__title-center questions__title container">
                    Some common questions <br> were often asked
                </h2>

                <div class="questions__container container grid">
                    <div class="questions__group">
                        <div class="questions__item">
                            <header class="questions__header">
                                <i class="ri-add-line questions__icon"></i>
                                <h3 class="questions__item-title">
                                    How accurate is the safety score provided by the system ?
                                </h3>
                            </header>

                            <div class="questions__content">
                                <p class="questions__description">
                                    The system employs advanced algorithms to analyze website URLs, offering a reliable safety score based on extensive phishing detection mechanisms.
                                </p>
                            </div>
                        </div>

                        <div class="questions__item">
                            <header class="questions__header">
                                <i class="ri-add-line questions__icon"></i>
                                <h3 class="questions__item-title">
                                    Can I trust the safety score provided by this system?
                                </h3>
                            </header>

                            <div class="questions__content">
                                <p class="questions__description">
                                    Yes, the system utilizes cutting-edge technologies and continuously updates its database to ensure accurate and trustworthy safety assessments of website URLs.
                                </p>
                            </div>
                        </div>

                        <div class="questions__item">
                            <header class="questions__header">
                                <i class="ri-add-line questions__icon"></i>
                                <h3 class="questions__item-title">
                                    Does the system support multiple languages for user convenience?
                                </h3>
                            </header>

                            <div class="questions__content">
                                <p class="questions__description">
                                     Absolutely! Our system offers support for multiple languages, ensuring accessibility and ease of use for users around the globe.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="questions__group">
                        <div class="questions__item">
                            <header class="questions__header">
                                <i class="ri-add-line questions__icon"></i>
                                <h3 class="questions__item-title">
                                    How does the system provide a preview of the webpage?
                                </h3>
                            </header>

                            <div class="questions__content">
                                <p class="questions__description">
                                    The system utilizes advanced web scraping techniques to fetch and display a preview of the webpage, giving users a glimpse of the content and layout before visiting the site directly.
                                </p>
                            </div>
                        </div>

                        <div class="questions__item">
                            <header class="questions__header">
                                <i class="ri-add-line questions__icon"></i>
                                <h3 class="questions__item-title">
                                    Is the system user-friendly for individuals with limited technical knowledge?
                                </h3>
                            </header>

                            <div class="questions__content">
                                <p class="questions__description">
                                    Yes, the system is designed with user-friendliness in mind, featuring a simple interface where users can input URLs and quickly obtain safety scores, source code, and webpage previews without requiring technical expertise.
                                </p>
                            </div>
                        </div>

                        <div class="questions__item">
                            <header class="questions__header">
                                <i class="ri-add-line questions__icon"></i>
                                <h3 class="questions__item-title">
                                    Can the system detect sophisticated phishing attempts?
                                </h3>
                            </header>

                            <div class="questions__content">
                                <p class="questions__description">
                                     Yes, the system is equipped with advanced algorithms capable of detecting even sophisticated phishing attempts by analyzing various indicators such as URL structure, content similarity, and behavioral patterns.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!--==================== CONTACT ====================-->
          <br>
          <br>
        </main>

        <!--==================== FOOTER ====================-->
        
        
        <!--=============== SCROLL UP ===============-->
        <a href="#" class="scrollup" id="scroll-up"> 
            <i class="ri-arrow-up-fill scrollup__icon"></i>
        </a>

        <!--=============== SCROLL REVEAL ===============-->
        <script src="../static/js/scrollreveal.min.js"></script>
        
        <!--=============== MAIN JS ===============-->
        <script src="../static/js/main.js"></script>
    </body>
</html>
